.mt-header {
  background: #b72712;
  display: flex;
  height: 30px;
  -webkit-app-region: drag;
  .header-btn-container {
    position: relative;
    display: inline-block;
    flex: 1;
    margin: 5px 5px 0px 5px;
    .header-btn {
      -webkit-app-region: no-drag;
      color: transparent;
      margin: 0 4px;
      font-size: 15px;
      &.close {
        color: #fc625d;
        &:active {
          color: #EF4E49;
        }
      }

      &.minimize {
        color: #fdbc40;
        &:active {
          color: #fd9526;
        }
      }

      &.maximize {
        color: #34C84A;
        &:active {
          color: #20a832;
        }
      }


      &.close-bg {
        color: #fc625d;
      }

      &.minimize-bg {
        color: #fdbc40;
      }

      &.maximize-bg {
        color: #34C84A;
      }
    }

    .fix {
      position: absolute;
      top: 0;
      left: 0;
    }

    &:hover {
      .header-btn {
        &.close-bg {
          color: #ca2f2c;
        }

        &.minimize-bg {
          color: #A2721D;
        }

        &.maximize-bg {
          color: #148022;
        }

      }

      .fix {
        display: block;
      }
    }
  }
}