.mt-controller {
  height: 65px;
  background: rgba(246, 246, 246, 0.95);
  .controller-play-btn, .controller-pause-btn {
    cursor: default;
    font-size: 44px;
    color: #d43c3e;
    &:active {
      color: #9a151a;
    }
  }
}