@keyframes loading {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% {opacity: 1; }
}

.mt-processor {
  flex: 1;
  display: flex;
  position: relative;
  height: 14px;
  width: 700px;


  .processor-bar-container {
    flex: 1;    
    position: relative;
    height: inherit;
    .processor-btn {
      &:active {
        background: #e5e5e5;
      }
  
      position: absolute;
      height: 14px;
      width: 14px;
      left: 0;
      border-radius: 50%;
      background: white;
      box-shadow: 0 0 2px #444;
      transition: left .1s linear;
      z-index: 2;
      
      .btn-icon {
        position: absolute;
        height: 5px;
        width: 5px;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        background: #d71a22;
        border-radius: 50%;
      }
    }

    .processor-bar {
      position: relative;
      margin: 0 5px;
      height: inherit;
      .bar {
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
        height: 4px;
        background: #d7d7d7;
        border-radius: 5px;
      }
  
      .bar-loading {
        position: absolute;
        top: 50%;
        width: 0%;
        height: 4px;
        transform: translateY(-50%);
        background: #9a9b9c;
        border-radius: 5px;
        transition: width .1s linear;
      }
  

    }
  }


  .processor-time {
    margin-left: 10px;
    color: #888;
    line-height: 14px;
    font-size: 13px;
  }

  .loading {
    animation: 1.5s loading backwards infinite ease-out;
  }

  .for-mouse-move {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}