@import '../../font-face.scss';
* {
box-sizing: border-box;
user-select: none;
outline: none;
@include recommend-font-family;
}

body,
#entry {
  margin: 0;
  padding: 0;
}

.mt-player {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  .mt-content{
    flex: 1;
  }
}

