$icon-size: 20px;

.mt-controller {
  display: flex;
  align-items: center;
  height: 65px;
  background: #f6f6f6;

  .controller-icon {
    font-size: $icon-size;
    margin-left: 15px;
    color: #3c3c3c;
    cursor: default;

    &:active {
      color: #121212;
    }
  }
}